:root {
  --color-primary: #128c7e;
}

html, body {
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body, a, img, input, p {
  padding: 0;
  margin: 0;
}
header, main, footer {
  padding-left: 15px;
  padding-right: 15px;
}
main {
  flex-grow: 1;
}

header {
  background-color: var(--color-primary);
  color: #fff;
  padding-right: 0;
}
header .navbar {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nb-buttons {
  display: flex;
  flex-direction: row;
}
header .nb-buttons > a {
  line-height: 0;
  padding: 16px;
}
header .nb-buttons > a > img {
  height: 24px;
  width: 24px;
}

main .last-numbers {
  list-style: none;
  padding: 0;
  margin: 16px 0 180px;
}
main .last-numbers li {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 4px;
  border-bottom: 1px solid #ccc;
}
main .last-numbers li:last-child {
  border: 0;
}
main .last-numbers .time {
  color: #888888;
  font-size: small;
}
main .last-numbers .number {
  font-size: large;
  color: #333;
}

footer {
  width: 100%;
  position: fixed;
  background-color: #fff;
  bottom: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
footer .frm-new-number {
  padding: 16px 15px 32px;
}
footer .npt-number {
  display: block;
  width: calc(100% - 28px);
  min-height: 26px;
  border: 2px solid var(--color-primary);
  background-color: #fff;
  font-size: large;
  padding: 12px;
  border-radius: 5px;
  text-align: center;
}
footer .npt-number:hover {
  border-color: initial;
}
footer .npt-number:invalid {
  border-color: red !important;
}
footer .group-btn {
  display: flex;
}
footer .group-btn > button {
  display: block;
  border: 0px;
  background-color: var(--color-primary);
  color: #fff;
  font-size: medium;
  padding: 12px;
  border-radius: 5px;
  text-align: center;
  margin-top: 6px;
}
footer .group-btn .btn-ws {
  flex-grow: 1;
  margin-right: 6px;
}
footer .group-btn .btn-sh {
  width: 80px;
  padding: 10px;
  line-height: 0;
  background-color: gray;
}
footer .group-btn .btn-sh > img {
  height: 24px;
  width: 24px;
}